body {
    padding-top: 30px;
}
#heading #logo {
    height: auto;
    width: 240px;
    max-width: 240px;
    margin-left: -50px;
    margin-top: 5px;
}
#heading #description {
    margin-top: -8px;
}

#heading #description h1 {
    color: #444
}

#problem-type {
    padding: 25px 16px;
}

.selected {
    font-size: 14pt;
    margin-top: -1px;
    margin-left: -1px;
}
.container.visualizers {
    padding-top: 30px;
    margin-left: 200px;
}
.visualizers .tab-content {
    margin-left: -114px;
    margin-top: -21px;
}
ul.nav.nav-tabs {
    min-width: 114px;
}

.visualizers .tab-content {
    overflow: visible;
}

div.solution {
    padding: 10px;
    margin-top: 50px;
    float: left;
    width: 1130px;
}

.solution textarea {
    width: 99%;
    height: 100px;
    vertical-align: top;
}

.solution button {
    width: 160px;
    height: 40px;
    float: right;
    margin: 5px 1px 0 9px;
}

/**
 * Problems list
 */
#problem-set ul {
    position: relative;
    width: 180px;
    height: 460px;
    margin: 0;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
#problem-set ul li {
    position: relative;
    padding: 16px;
    background: #eee;
    color: #252525;
    font-size: 18px;
    z-index: 2;

    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}
#problem-set ul li:nth-child(odd) {
    background: #fff;
}
