<div class="solution">
    <form action="#{{problem}}">
        <textarea id="solution" name="solution" type="text" placeholder="Type in your solution..."></textarea>
        <button type="button" class="btn btn-primary">Visualize</button>
        <button type="button" class="btn btn-info">Generate Solution</button>
    </form>
</div>