body {
    padding-top: 30px;
}

h1 {
    letter-spacing: 1px;
}

#heading {
    color: #f8f8f8;
    background-color: #2b3d53;
    border-radius: 8px;
    padding: 30px 60px;
    margin-bottom: 5px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#heading #logo {
    height: auto;
    width: 240px;
    max-width: 240px;
    margin-left: -50px;
    margin-top: 5px;
}

#heading #description {
    margin-top: -8px;
}

#problem-type-trigger {
    padding: 25px 0 25px 60px;
}

#problems-nav {
    padding-left: 0
}

#problems-filter input {
    font-size: 14pt;
    height: 40px;
    margin-bottom: 12px;
}

#problems-set a {
    display: inline-block;
    width: 100%;
    padding: 12px;
}

#problems-set span.file-ref {
    font-size: 12pt;
    color: black;
    text-decoration: none;
    display: inline-block;
}

#problems-set span.problem-desc {
    margin-right: 10px;
}

.selected {
    font-size: 14pt;
    margin-top: -1px;
    margin-left: -1px;
}
.container.visualizers {
    padding-top: 30px;
    margin-left: 200px;
}
.visualizers .tab-content {
    margin-left: -114px;
    margin-top: -21px;
}
ul.nav.nav-tabs {
    min-width: 114px;
}

.visualizers .tab-content {
    overflow: visible;
}

div.solution {
    padding: 10px;
    margin-top: 50px;
    float: left;
    width: 1130px;
}

.solution textarea {
    width: 99%;
    height: 100px;
    vertical-align: top;
}

.solution button {
    width: 160px;
    height: 40px;
    float: right;
    margin: 5px 1px 0 9px;
}

/**
 * Problems list
 */
#problems-set ul {
    position: relative;
    /*width: 180px;*/
    max-height: 450px;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
#problems-set ul li {
    position: relative;
    padding: 4px;
    background: #eee;
    color: #252525;
    font-size: 18px;
    z-index: 2;

    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}
#problems-set ul li:nth-child(odd) {
    background: #fff;
}
