#visualization-container {
    height: 520px; /* todo: should be specified separately for different media */
    max-height: 520px;
    background: #fafafa;
    padding: 40px 0 0 60px;
    margin-bottom: 20px;
}

svg.visualizer {
    border: 1px solid #eee;
}

.solution button.close {
    height: auto;
    margin: 0 20px;
    text-align: right;
    right: 0;
}

.solution div.alert.alert-error {
    float: left;
    padding-right: 0;
}

.distance {
    font-size: 14pt;
    fill: #616161;
}